<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8"/>
        <title>Emotion detection</title>
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1>Emotion detection</h1>
        <form method="post" action="/predict" enctype="multipart/form-data">
            <input name="input_image" type="file" accept="image"/>
            <button type="submit">Submit</button>
        </form>

        <div id="wrapper">
            <div class="image" id="input"></div>
            <div class="image" id="output"></div>
        </div>
        <script src="/static/index.js"></script>
    </body>
</html>
