<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8"/>
        <title>Emotion detection</title>
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1>Emotion detection</h1>
        <form method="post" action="/predict" enctype="multipart/form-data">
            <input name="input_image" type="file" accept="image"/>
            <button type="submit">Submit</button>
        </form>

        <div id="wrapper">
            <div class="image" id="input"></div>
            <div class="image" id="output"></div>
        </div>
        <aside class="closed">
            <section>
                <label>Project by</label>
                <ul>
                    <li>Yash Charpe</li>
                    <li>Yeeshant Dahikar</li>
                    <li>Sarang Wadode</li>
                    <li>Mukesh Gurpude</li>
                </ul>

                <label>Guided By</label>
                <p>
                    <caption>Mrs. Diptee Ghusse</caption>
                </p>
            </section>
            <button>&larr;</button>
        </aside>
        <script src="/static/index.js"></script>
    </body>
</html>
