<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8"/>
        <title>Emotion detection</title>
        <style>
            html {
                color-scheme: dark;
            }
        </style>
    </head>
    <body>
        <h1>Emotion detection</h1>
        <form method="post" action="/predict" enctype="multipart/form-data">
            <input name="input_image" type="file" accept="image"/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
